header {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    }
  ul {
   padding: 10px;
   background: rgba(0, 0, 0, 0.5);
   color: black;
  }
  li {
      display: inline;
      padding: 0px 50px 0px 50px;
      color: black;
      font-size; 25px;
    }
    a {
      color: black;
    }
    h1 {
      font-family: 'Amatic SC', cursive;
      text-align: center;
      margin: 0 auto;
    }
textarea#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
  text-align: center;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
