header {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    }
  ul {
   padding: 10px;
   background: rgba(0, 0, 0, 0.5);
   color: black;
  }
  li {
      display: inline;
      padding: 0px 50px 0px 50px;
      color: black;
    }
    div.navigation {
      font-size: 25px;
    }
    a {
      color: black;
    }
    h1 {
      margin: 0 auto;
      font-size: 35px;
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-family: 'EB Garamond', serif;
      text-align: justify;
      margin: 0 auto;
    }
div.textarea {
	width: 600px;
	height: 120px;
  border: 8px solid #cccccc;
	padding: 5px;
  text-align: left;
	font-family: 'EB Garamond', serif;
  font-size: 20px;
  border-radius: 10px;
}
